.view {
  min-height: 100vh;
}
.bg {
  background-image: url("../assets/img/background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.gradient {
  background: -webkit-linear-gradient(
    45deg,
    rgba(34, 0, 29, 0.5),
    rgba(11, 3, 59, 0.7) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(34, 0, 29, 0.5), rgba(11, 3, 59, 0.7) 100%)
  );
  background: linear-gradient(
    45deg,
    rgba(34, 0, 29, 0.5),
    rgba(11, 3, 59, 0.71) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: stretch;
}

.home-container {
  display: flex;
  justify-content: center;
  width: auto;
}

.album-frame-header {
  display: flex;
  justify-content: space-between;
}

body {
  background: black;
}

.global-text {
  padding-top: 5rem;
  justify-content: center !important;
  text-align: center;
  font-weight: bold;
}
